
.content {
    margin: 0 auto;
}

/*主体*/

.nba-article {
    width: 1200px;
    min-height: 1700px;

    background-color: -purple;
}

/* title */
.article-title-wrap {
    width: 870px;
    height: 89px;
    border-bottom: 1px dashed #ccc;
}

.article-title-wrap h1.nba-article-title {
    padding-bottom: 10px;
    width: 870px;
    height: 55px;
    line-height: 55px;
    font-size: 26px;
    font-weight: normal;
}

.article-title-wrap span {
    display: block;
    float: left;
    height: 15px;
    line-height: 15px;
}

/* main */
.article-main {
    width: 870px;
    min-height: 1500px;
}

.article-main span.news-index a {
    display: block;
    width: 55px;
    height: 15px;
    border-right: 1px solid #ccc;
}

.article-main span b.news-author {
    margin-left: 10px;
    font-weight: normal;
}
.article-main span.nba-index {
    margin-left: 10px;
}

.article-main span.news-time {
    width: 120px;
    text-align: center;
    border-right: 1px solid #ccc;
}




.article-main .article-title-wrap a {
    
    
}
.article-main .article-title-wrap a.news-comment-icon {
/*    display: block;*/
    float: right;
    min-width: 22px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background: url(../css/images/pl_icon.png) no-repeat 0 0;
    padding-left: 27px;
}
.article-main .article-title-wrap a:hover {
    background-position: 0 -77px;
}


/* images */
.article-main .article-image-wrap {
    text-align: center;
    width: 870px;
}

.article-main img.article-image {
    margin: 40px 0px 30px 0px;
    max-width: 870px;
    max-height: 700px;
}


/* paragraph */
.article-main .article-para p {
    padding: 0px 0px 30px 20px;
    width: 850px;
    font-size: 16px;
    background: -#ff5324;
}


/* share */
.article-share {
    width: 870px;
    height: 600px;
    text-align: center;
}


.article-share span.share-title {
    display: block;
    width: 50px;
    height: 24px;
    line-height: 30px;
}

.article-share .share-txt-icon {
    width: 870px;
    height: 24px;
}

.article-share 
.share-qqzone,
.share-qq,
.share-weibo,
.share-wechat {
    display: block;
    margin-left: 5px;
    display: block;
    width: 24px;
    height: 24px;
    background: url(../css/images/s_gallery_2012110702.png) no-repeat;
}

.article-share img.nbashare-qrcore {
    margin-top: 60px;
    width: 300px;
    height: 300px;
}
.article-share .share-qqzone{
    background-position: -62px -229px;
}
.article-share .share-qq {
    background-position: -62px -200px;
}
.article-share .share-weibo{
    background-position: -62px -316px;
}
.article-share .share-wechat{
    background-position: -62px -287px;
}


.article-share -img.nba-app {
    padding-left: 50px;
    width: 226px;
    height: 93px;
    background-color: red;
}

/*conment*/
.user-comment .comment-header {
    width: 870px;
    height: 30px;
    background: green;
}

.user-comment .comment-header span {
    display: block;
}

.user-comment .comment-header .user-comment-title {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    background-color: green;
}

.user-comment .comment-header .desc {
    margin-left: 10px;
    /*看看盒子模型有没有超*/
    width: 200px;
    height: 30px;
    line-height: 30px;
    background-color: -red;
}

.user-comment .comment-count,
.tx-comment {
    margin-left: 30px;
    min-width: 45px;
    height: 30px;
    line-height: 30px;
}

.user-comment .user-comment-txtarea-wrap {
    width: 868px;
    height: 100px;
    border: 1px solid #08c;
}

.user-comment .user-comment-txtarea {
    width: 862px;
}

.user-comment .user-login {
    margin: 3px 10px 3px 808px;
    width: 50px;
    height: 20px;
    background-color: #08c;
    border-radius: 2px;
}

/* comment-tab */
.comment-tab-wrap {
    width: 870px;
    height: 700px;
}

.comment-tab {
    margin-top: 30px;
    width: 870px;
    height: 39px;
    border-bottom: 1px solid #ccc;
}
.comment-tab .comment-all,
.comment-mine {
    margin-right: 20px;
    display: block;
    float: left;
    font-size: 18px;
    width: 100px;
    height: 40px;
    line-height: 40px;
}

.comment-tab .tx-comment {
    line-height: 40px;
    font-style: normal;
    font-size: 12px;
    color: red;
}

.comment-tab .active {
    width: 75px;
    height: 37px;
    border-bottom: 2px solid #08c;
}

.comment-list .sort-button {
    margin: 5px 0px 20px 0px;
    width: 65px;
    height: 20px;
    border-radius: 2px;
}

.comment-list .sort-button .heat-sort, .time-sort {
    width: 30px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}

.comment-list .sort-button .heat-sort {
    margin-right: 5px;
}
.comment-list .sort-button .active1 {
    width: 30px;
    height: 20px;
    background: #08c;
    color: #fff;
}

.comment-list .user-comment-list li{
    display: inline-block;
    width: 870px;
    height: 100px;
    border-bottom: 1px solid #ccc;
}

.comment-list .user-comment-list img {
    float: left;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-comment-list .user-comment-detail {
    float: right;
    width: 830px;
}
.user-comment-list .user-comment-detail span {
    display: block;
    padding-top: 20px;
}

.user-comment-list .user-comment-detail a.user-name ,.user-time {
    display: block;
    padding-left: 10px;
    padding-bottom: 10px;
/*    width: 36px;*/
    height: 20px;
    line-height: 20px;
}

.user-comment-list .user-comment-content {
    display: inline-block;
    padding-left: 10px;
    width: 830px;
    height: 60px;
}
.user-comment-list .user-comment-content p {
    font-size: 14px;
}
.user-comment-list .user-comment-content a {
    float: left;
    display: block;
    width: 40px;
    padding-top: 5px;
    margin-right: 5px;
}


/* 侧边栏 */
.nba-article .side-right-wrap {
    width: 300px;
    height: 1700px;
    background-color: yellow;
}
